@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Advent+Pro&family=Dancing+Script&family=Inknut+Antiqua&family=Inter&family=Kanit:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,600;1,700&family=Kaushan+Script&family=Montserrat:wght@400;500;600&family=Open+Sans:wght@400;500;600&family=Poppins:ital,wght@0,300;0,500;0,600;1,300&family=Rubik:wght@300;400;500;600;700;800&family=Sen:wght@400;700;800&display=swap");
body {
  background-color: #add8e6;
}

.nav-logo {
  width: 170px;
  height: 44px;
}

.clover-navbar {
  margin-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

.nav-items {
  font-family: "Inknut Antiqua", serif;
}

.section2 {
  margin-top: 50px;
}
.section2-text {
  font-family: "Aclonica", sans-serif;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.gradient-background-combo {
  background: linear-gradient(to bottom, #d0f6da, #f1e4f6);
  width: 350px;
  height: 350px;
  text-align: center;
  padding-top: 30px;
  border-radius: 40px;
}

.section2-img1 {
  height: 350px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.section2-img2 {
  margin-top: 90px;
  margin-left: 200px;
  align-items: center;
  justify-content: center;
}

.section3 {
  padding-top: 100px;
}
.section3-img1 {
  height: 300px;
  width: 300px;
}

.section3-image1 {
  justify-content: left;
}
.section3-img2 {
  height: 300px;
  width: 300px;
}

.section3-image2 {
  justify-content: right;
}

.section3-para {
  align-items: center;
  justify-content: center;
  font-family: "Advent Pro", sans-serif;
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
}

.section3-heading {
  align-items: center;
  justify-content: center;
  font-family: "Aclonica", sans-serif;
  font-size: 35px;
  text-align: center;
}

.section4 {
  margin-top: 100px;
}

.section4-img {
  height: 200px;
  width: 200px;
}

.section4-heading {
  align-items: center;
  justify-content: center;
  font-family: "Aclonica", sans-serif;
  font-size: 35px;
  text-align: center;
}

.section4-textbox {
  margin-right: 40px;
}
.gradient-background {
  background: linear-gradient(
    to bottom,
    #bff3ce,
    #ebd8f1
  ); /* Adjust colors as needed */
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 25px;
}

.section4-text {
  align-items: center;
  justify-content: center;
  font-family: "Advent Pro", sans-serif;
  font-size: 25px;
  text-align: center;
}
.image-container {
  display: flex;
  gap: 60px;
  margin-bottom: 40px;
}

.section4-img {
  margin-right: 20px;
}

.section4-textbox {
  margin-top: 150px;
}

.section5-heading {
  margin-bottom: 25px;
  font-size: 40px;
  text-align: center;
  font-family: "Kaushan Script", cursive;
}
.section5-text {
  text-align: center;
  font-size: 15px;
  font-family: "Inknut Antiqua", serif;
}

.footer {
  margin-top: 30px;
}
.footer-logo {
  width: 35px;
  height: 35px;
}

.footer-image {
  width: 650px;
  height: 650px;
}
.footer-c {
  text-align: center;
}

.footer-container {
  text-align: center;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.footer-logo-c {
  display: flex;
  gap: 25px;
}

.deliverylogos {
  display: flex;
  gap: 170px;
}

/* Login page */

.custom-col {
  margin: 0;
  padding: 0;
}

.login-section {
  margin-top: 40px;
}

.login-heading {
  margin-top: 35px;
}

.login-image {
  height: 600px;
  width: 650px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}
.login-card {
  background-color: #ffdae0;
  text-align: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.input-design {
  background-color: #ffdae0;
  border: none;
  outline: none;
  border-radius: 0;
  padding: 5px;
  border-bottom: 2px solid rgb(93, 92, 92);
  width: 430px;
}

.logo {
  width: 20px;
  height: 20px;
}
.input-section {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
}

.login-heading {
  font-size: 30px;
  font-weight: 600;
}

.forgot-link {
  text-decoration: none;
  margin-left: 290px;
  margin-top: 20px;
}

.login-button {
  margin-top: 40px;
  background-color: #fd6580;
  width: 150px;
  color: white;
  border-radius: 50px;
  height: 40px;
}

.option-text {
  margin-top: 40px;
  margin-bottom: 15px;
  color: rgb(148, 147, 147);
}

.other-logo1 {
  width: 30px;
  height: 30px;
}

.other-logo2 {
  margin-left: 20px;
  width: 30px;
  height: 30px;
}

/*sign up*/

.nav-link-register {
  color: blue;
  text-decoration: none;
  margin-left: 10px;
}

.register {
  margin-top: 30px;
  font-weight: 500;
}

.register-link {
  margin-left: 10px;
  text-decoration: none;
}
